In [1]:
#******************EXERCISE 2**************************************
import pandas as pd
import numpy as np

df=pd.read_csv('SalesData.csv',index_col=0)

In [2]:
df

,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18,Oct-18,Nov-18,Dec-18,Jan-19,Feb-19,Mar-19
L3,390,345,379,353,365,326,363,459,539,474,340,343
L1,392,377,347,395,330,332,340,446,573,464,223,216
P2,250,270,300,398,376,382,306,489,552,488,298,269
N6,460,480,450,310,392,383,314,402,640,495,215,243
N4,460,480,450,387,388,320,337,478,676,408,338,263
B8,470,510,360,472,423,385,353,464,598,419,459,659

In [3]:
#Question 1: What were the sales for P2 and B8 in Nov18, Feb19 and Mar19

sale = df.loc[['P2','B8'],['Nov-18','Feb-19','Mar-19']]
print(sale)

    Nov-18  Feb-19  Mar-19
P2     489     298     269
B8     464     459     659

In [4]:
#Question 2: In the 3rd quarter (oct/18-dec/18) what were the sales figure for 
#london L3 and L1) and what was the monthly %increase

#Sales figure
totalsales = df.loc[['L3','L1'],['Oct-18','Nov-18','Dec-18']]

print("Total sales:")
print(totalsales)

print("")
#monthly % increase

a= totalsales.pct_change(axis='columns')
print("% increase:")
print(a)

Total sales:
    Oct-18  Nov-18  Dec-18
L3     363     459     539
L1     340     446     573

% increase:
    Oct-18    Nov-18    Dec-18
L3     NaN  0.264463  0.174292
L1     NaN  0.311765  0.284753

In [5]:
#QUESTION 3 What were the top 3 months for New York (N6 and N4) and in which 
#stores did they occur

#Top three months for N6

#first we print row N6 only
hello=df.loc[['N6']].T

In [6]:
print(hello)

         N6
Apr-18  460
May-18  480
Jun-18  450
Jul-18  310
Aug-18  392
Sep-18  383
Oct-18  314
Nov-18  402
Dec-18  640
Jan-19  495
Feb-19  215
Mar-19  243

In [7]:
#Q3 continues
#top three months
topthree=hello.nlargest(3,['N6'])
#top=topthree.drop(['N4'],axis=1)
print(topthree)

         N6
Dec-18  640
Jan-19  495
May-18  480

In [8]:
#Q3 continues
#Next, we print row N4 only
hello=df.loc[['N4']].T

In [9]:
print(hello)

         N4
Apr-18  460
May-18  480
Jun-18  450
Jul-18  387
Aug-18  388
Sep-18  320
Oct-18  337
Nov-18  478
Dec-18  676
Jan-19  408
Feb-19  338
Mar-19  263

In [10]:
#Q3 continues

#top three months
topthreeforN4=hello.nlargest(3,['N4'])
#top=topthree.drop(['N4'],axis=1)
print(topthreeforN4)

         N4
Dec-18  676
May-18  480
Nov-18  478

In [11]:
#Q3 continues

#NOW WE COMPARE BETWEEN THE TWO STORES TO FIND THE TOP THREE MONTHS

#First,join the two stores with one table, then get the top three months

#Join
a=pd.concat([topthreeforN4,topthree],axis='columns',sort=False)

print(a)

           N4     N6
Dec-18  676.0  640.0
May-18  480.0  480.0
Nov-18  478.0    NaN
Jan-19    NaN  495.0

In [12]:
#Q3 continues
#Finding the top three months and in relation to the store

finalresult=a.stack().nlargest(3)
print(finalresult)

Dec-18  N4    676.0
        N6    640.0
Jan-19  N6    495.0
dtype: float64

In [13]:
df

,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18,Oct-18,Nov-18,Dec-18,Jan-19,Feb-19,Mar-19
L3,390,345,379,353,365,326,363,459,539,474,340,343
L1,392,377,347,395,330,332,340,446,573,464,223,216
P2,250,270,300,398,376,382,306,489,552,488,298,269
N6,460,480,450,310,392,383,314,402,640,495,215,243
N4,460,480,450,387,388,320,337,478,676,408,338,263
B8,470,510,360,472,423,385,353,464,598,419,459,659

In [14]:
#Q4

#We first give a heading to the store called STORE

heading=pd.DataFrame(df)
heading.index.name='STORE'

In [15]:
print(heading)

       Apr-18  May-18  Jun-18  Jul-18  Aug-18  Sep-18  Oct-18  Nov-18  Dec-18  \
STORE
L3        390     345     379     353     365     326     363     459     539
L1        392     377     347     395     330     332     340     446     573
P2        250     270     300     398     376     382     306     489     552
N6        460     480     450     310     392     383     314     402     640
N4        460     480     450     387     388     320     337     478     676
B8        470     510     360     472     423     385     353     464     598

       Jan-19  Feb-19  Mar-19
STORE
L3        474     340     343
L1        464     223     216
P2        488     298     269
N6        495     215     243
N4        408     338     263
B8        419     459     659

In [16]:
#Q4 continues - finding the store

lowestsalestore=df.min(axis=1).sort_values()[:1]
print(lowestsalestore)

STORE
N6    215
dtype: int64

In [17]:
#Q4 continues - finding the month
month=df.loc[lowestsalestore.index.values].idxmin(axis=1)
print(month)

STORE
N6    Feb-19
dtype: object

In [18]:
#************************EXRCISE 3************************************************
#loading the file
df

,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18,Oct-18,Nov-18,Dec-18,Jan-19,Feb-19,Mar-19
STORE,,,,,,,,,,,,
L3,390,345,379,353,365,326,363,459,539,474,340,343
L1,392,377,347,395,330,332,340,446,573,464,223,216
P2,250,270,300,398,376,382,306,489,552,488,298,269
N6,460,480,450,310,392,383,314,402,640,495,215,243
N4,460,480,450,387,388,320,337,478,676,408,338,263
B8,470,510,360,472,423,385,353,464,598,419,459,659

In [19]:
#Calculate the mean
average = df.mean(axis="columns")

In [20]:
print(average)

STORE
L3    389.666667
L1    369.583333
P2    364.833333
N6    398.666667
N4    415.416667
B8    464.333333
dtype: float64

In [21]:
#calculating the % increase for each month on the stores average 
#for the year
percinc = df.apply(lambda current:((current-average)/average*100))

print(percinc)

          Apr-18     May-18     Jun-18     Jul-18     Aug-18     Sep-18  \
STORE
L3      0.085543 -11.462789  -2.737382  -9.409752  -6.330197 -16.338751
L1      6.065389   2.006764  -6.110485   6.877114 -10.710259 -10.169109
P2    -31.475560 -25.993604 -17.770672   9.090909   3.060758   4.705345
N6     15.384615  20.401338  12.876254 -22.240803  -1.672241  -3.929766
N4     10.732197  15.546640   8.324975  -6.840522  -6.599799 -22.968907
B8      1.220388   9.834889 -22.469490   1.651113  -8.901651 -17.085427

          Oct-18     Nov-18     Dec-18     Jan-19     Feb-19     Mar-19
STORE
L3     -6.843456  17.792985  38.323353  21.642429 -12.745937 -11.976048
L1     -8.004510  20.676437  55.039459  25.546787 -39.661781 -41.555806
P2    -16.126085  34.033805  51.301964  33.759708 -18.318867 -26.267702
N6    -21.237458   0.836120  60.535117  24.163880 -46.070234 -39.046823
N4    -18.876630  15.065196  62.728185  -1.785356 -18.635908 -36.690070
B8    -23.977028  -0.071788  28.786791  -9.763101  -1.148600  41.923905

In [22]:
#Question 1) Which store had the largest and smallest increase 
#and in which stores did they occur

#smallest increase
smallest = percinc.min(axis="columns").sort_values()[:1]
print(smallest)

STORE
N6   -46.070234
dtype: float64

In [23]:
#Store and month for smallest increase
smallest_month=percinc.loc[smallest.index.values].idxmin(axis="columns").sort_values()[:1]
print(smallest_month)

STORE
N6    Feb-19
dtype: object

In [24]:
#largest increase
largest = percinc.max(axis="columns").sort_values()[-1:]
print(largest)

STORE
N4    62.728185
dtype: float64

In [25]:
#Store and month for smallest increase
largest_month=percinc.loc[largest.index.values].idxmax(axis="columns").sort_values()[:1]
print(largest_month)

STORE
N4    Dec-18
dtype: object

In [26]:
#Question 2) Across all the stores which months showed the smallest
#average increase and largest average increase

#smallest and highest average increase
percinc

,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18,Oct-18,Nov-18,Dec-18,Jan-19,Feb-19,Mar-19
STORE,,,,,,,,,,,,
L3,0.085543,-11.462789,-2.737382,-9.409752,-6.330197,-16.338751,-6.843456,17.792985,38.323353,21.642429,-12.745937,-11.976048
L1,6.065389,2.006764,-6.110485,6.877114,-10.710259,-10.169109,-8.004510,20.676437,55.039459,25.546787,-39.661781,-41.555806
P2,-31.475560,-25.993604,-17.770672,9.090909,3.060758,4.705345,-16.126085,34.033805,51.301964,33.759708,-18.318867,-26.267702
N6,15.384615,20.401338,12.876254,-22.240803,-1.672241,-3.929766,-21.237458,0.836120,60.535117,24.163880,-46.070234,-39.046823
N4,10.732197,15.546640,8.324975,-6.840522,-6.599799,-22.968907,-18.876630,15.065196,62.728185,-1.785356,-18.635908,-36.690070
B8,1.220388,9.834889,-22.469490,1.651113,-8.901651,-17.085427,-23.977028,-0.071788,28.786791,-9.763101,-1.148600,41.923905

In [27]:
a = percinc.idxmax(axis="columns")
print("Across all stores,month with largest average increase")
print(a)

Across all stores,month with largest average increase
STORE
L3    Dec-18
L1    Dec-18
P2    Dec-18
N6    Dec-18
N4    Dec-18
B8    Mar-19
dtype: object

In [28]:
#if we want to know the value that corresponds to that increase
b=percinc.max(axis=1)

In [29]:
print(b)

STORE
L3    38.323353
L1    55.039459
P2    51.301964
N6    60.535117
N4    62.728185
B8    41.923905
dtype: float64

In [30]:
c = percinc.idxmin(axis="columns")
print("Across all stores,month with smallest average increase")
print(c)

Across all stores,month with smallest average increase
STORE
L3    Sep-18
L1    Mar-19
P2    Apr-18
N6    Feb-19
N4    Mar-19
B8    Oct-18
dtype: object

In [31]:
#if we want to know the value that corresponds to that decrease
d=percinc.min(axis="columns")

In [32]:
print(d)

STORE
L3   -16.338751
L1   -41.555806
P2   -31.475560
N6   -46.070234
N4   -36.690070
B8   -23.977028
dtype: float64