In [4]:
#Converting from list to Panda's Series and Data Frame
import pandas as pd

In [5]:
#list
animals =(['elephant','panda','mouse','penguin'])
print(animals)

['elephant', 'panda', 'mouse', 'penguin']

In [21]:
#Panda's series using pd.Series

animals_series = pd.Series(animals)
print(animals_series)

0    elephant
1       panda
2       mouse
3     penguin
dtype: object

In [9]:
#Panda's data frame using pd.DataFrame

animalsdataframe = pd.DataFrame(animals)
print(animalsdataframe)

          0
0  elephant
1     panda
2     mouse
3   penguin

In [10]:
#Matrix

In [12]:
matrix = [["1A","2A","3A","4A"],["1B","2B","3B","4B","5B"],
          ["1C","2C","3C"]]
print(matrix)

[['1A', '2A', '3A', '4A'], ['1B', '2B', '3B', '4B', '5B'], ['1C', '2C', '3C']]

In [14]:
#Panda's series using pd.Series

matrixseries = pd.Series(matrix)
print(matrixseries)

0        [1A, 2A, 3A, 4A]
1    [1B, 2B, 3B, 4B, 5B]
2            [1C, 2C, 3C]
dtype: object

In [15]:
#Panda's data frame using pd.DataFrame

matrixdataframe = pd.DataFrame(matrix)
print(matrixdataframe)

    0   1   2     3     4
0  1A  2A  3A    4A  None
1  1B  2B  3B    4B    5B
2  1C  2C  3C  None  None

In [16]:
#Tuple

In [22]:
fruits =("Apples","Oranges","Bananas")
print(fruits)

('Apples', 'Oranges', 'Bananas')

In [23]:
#Panda's series using pd.Series

fruits_series = pd.Series(fruits)
print(fruits_series)

0     Apples
1    Oranges
2    Bananas
dtype: object

In [24]:
#Panda's data frame using pd.DataFrame

fruits_dataframe = pd.DataFrame(fruits)
print(fruits_dataframe)

         0
0   Apples
1  Oranges
2  Bananas

In [20]:
#Set

In [26]:
sets = ({'even':[2,4,6,8,10],'odd':[1,3,5,7,9],'bythree':[3,6,9,12,15]})
print(sets)

{'even': [2, 4, 6, 8, 10], 'odd': [1, 3, 5, 7, 9], 'bythree': [3, 6, 9, 12, 15]}

In [27]:
#Pandas series using pd.Series

sets_series = pd.Series(sets)
print(sets_series)

even        [2, 4, 6, 8, 10]
odd          [1, 3, 5, 7, 9]
bythree    [3, 6, 9, 12, 15]
dtype: object

In [28]:
#Pandas data frame using pd.DataFrame

sets_dataframe = pd.DataFrame(sets)
print(sets_dataframe)

   even  odd  bythree
0     2    1        3
1     4    3        6
2     6    5        9
3     8    7       12
4    10    9       15

In [29]:
#Dictionary

In [31]:
depthead ={'AC':'Alison','S':'Frank','CS':'James'}
print(depthead)

{'AC': 'Alison', 'S': 'Frank', 'CS': 'James'}

In [32]:
#Pandas series using pd.Series
depthead_series = pd.Series(depthead)
print(depthead_series)

AC    Alison
S      Frank
CS     James
dtype: object

In [36]:
#Pandas data frame using pd.DataFrame
depthead_dataframe = pd.DataFrame((depthead),index=[1])
print(depthead_dataframe)

       AC      S     CS
1  Alison  Frank  James