# Section A: Variables
This section gives examples of how variables are used in python. 
* First run each cell to see what it does. 
* Then change the values of the variables to test what happens.

Each cell needs to be run in order to ensure that variables are initialised. If you get an error try rerunning the previous cells in each section.

In [ ]:
#1. Initialising a String (using double quotes around the literal)
name = "James Wilson"

#2. Initialising an integer (whole number)
age = 75

#3. Initialising a floating point value (decimal value)
height = 175.3

#4. Outputting the values of the variables
print(name)
print(age)
print(height)

In [ ]:
#5. As all things are objects in python and their
#   type is defined internal as an attribute of that object
#   the following is valid. 

aVaraible = "Univeristy of York"

print(aVaraible)

aVaraible = 5 + 6 + 7

print(aVaraible)

#6. The variable is simple switching the reference from one object to another

In [ ]:
#7. Using a built in function to determine the type of variables
type(aVaraible)

# TASK: change the parameter of the function to find the types 
# for name, age and height

#8. You can only do this one statement at a time in a Juypter Notebook

In [ ]:
#9. NOTE: that the variables used here were initlised in the first cell
#         Using output statements to check your variable values and types
print(f"CHECK my_name: value: {name}, type: {type(name)}")

#10. The 'f' inside the print function (before the string) indicates 
#    that you are going to embed variables and other instructions inside
#    the string. This will be examined in more detail later on.

# Section B: Calulations
Here are examples of simple calulations.

In [ ]:
#11. Finding the average for a set of exam marks

#12. Assigning multiple variables
exam1 = 56
exam2 = 65
exam3 = 68
exam4 = 64

#13. Preforming a calculation and assigning the result to a variable
total = (exam1 + exam2 + exam3 + exam4) 
average = total / 4

#14. Print the result of the calculation
print(f"The average mark for the four exams is {average}")

In [ ]:
#15. Python adheres to standard operator precedence
result = -5 + 6 - 3 * 8 / 4
print("Result 1:", result)

result = -5 + (6 - 3) * 8 / 4
print("Result 2:", result)

#16. ** is the operator for powers (exponents).
#    So here 8**3 is 8 to the power of 3
result = -5 + (6 - 3) * 8**3 / 4
print("Result 3:", result)

In [ ]:
#17. Converting Fahrenheit into Celsius - remember your operator precedence
fahrenheit = 56

# TASK: What happens here if you remove the parenthesis? 
celsius = (5/9) * (fahrenheit - 32)

#18. Print the result of the calculation
print(f"{fahrenheit} degres fahrenheit is {celsius} degrees celsius")

In [ ]:
#19. Integer division
result = 5 / 2 

#20. Notice this time no f, the variable has been passed as a second parameter
print("The result of 5/2 is ", result)
#21. Notice how the variable result is OK with the change of type

#22. Although this is integer division you will get a float for the result.
#    To get integer division, returning just the whole number you need to:
result = 5 // 2

print("The 2 goes into 5: ", result)

#23. Integer division that returns the remainder
result = 5 % 2

print("The remander from 5/2 is: ", result)

In [ ]:
#24. Mathematical operators will only work with appropriate types, so:

#25. Notice this time single quotes are used to define a string.
#    Either single or double can be used
num1 = '56'
num2 = '75'

result = num1 + num2

print("The result is: ", result)

#26. As these variables are both holding strings what 
#    you will get is concatenation  not addition

In [ ]:
#27. As Python is using an interpreter you can evaluate expressions directly
# using the interpreter as a calculator.
43 + 65

#28. You can only do this one expression at a time